extends layout

block content
  h1#title Create a poll
  form(action="" method="post")
    label(for='question') Question
    input#question(type='text', name='question', placeholder='Question')
    label(for='answer1') Answer 1
    input#answer1(type='text', name='answer1', placeholder='Answer 1')
    label(for='answer1') Answer 2
    input#answer2(type='text', name='answer2', placeholder='Answer 2')
    input#submit(type='submit', value='Submit')