extends layout

block content
  h1#title Create a poll
  form(action="" method="post")
    label(for='question') Question
    br
    input#question(type='text', name='question', placeholder='Question')
    br
    label(for='answer1') Answer 1
    br
    input#answer1(type='text', name='answer1', placeholder='Answer 1')
    br
    label(for='answer1') Answer 2
    br
    input#answer2(type='text', name='answer2', placeholder='Answer 2')
    br
    br
    input#submit(type='submit', value='Submit')