body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#votes {
  height: 200px;
  position: relative;
}

#vote1, #vote2 {
  text-align: center;
  height: 100px;
  color: #000;
  width: 50%;
  position: absolute;
  bottom: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#vote1 {
  left: 0;
  background-color: #96CFF1;
}

#vote2 {
  right: 0;
  background-color: #E487DF;
}